.pealkiri {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: xx-large;
	font-weight: bold;
	text-align:center;
	padding:5mm;
}

.textCenter{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	text-align:center;
	padding:5mm;
}

.textBold{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight:bold;
}

.text{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.textLargeCenter{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:x-large;
	text-align:center;
	padding:5mm;
}

.fConnectButton{
	background-image: url('Images/fconnect.png');
    width: 132px;
    height: 34px;
}

.questButton{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	width: 129px;
    height: 32px;
}

table.data {width:100%; table-layout:fixed;text-align:center;}
.data th {cursor:pointer;}
.data th,.data td{padding:3px 12px;}
.data tr {border-bottom: 1px solid #E3E3E3;}
/* Horisontal */
.txtC table .txtC td, table .txtC th, .data .txtC th, .data .txtC td{text-align:center;}
.txtL table .txtL td, table .txtL th, .data .txtL th, .data .txtL td{text-align:left;}
.txtR table .txtR td, table .txtR th, .data .txtR th, .data .txtR td{text-align:right;}
/* Vertical */
.txtT table .txtT td, table .txtT th, .data .txtT th, .data .txtT td{text-align:top;}
.txtB table .txtB td, table .txtB th, .data .txtB th, .data .txtB td{text-align:bottom;}
.txtM table .txtM td, table .txtM th, .data .txtM th, .data .txtM td{text-align:middle;}

#wrapper{
	width:1500px;
	margin:40px auto 0;
}

#tabContainer{
	width:1000px;
	padding:15px;
	-moz-border-radius:4px;
	border-radius:40px;
	align: center;
}

#tabs{
	height:50px;
	overflow:hidden;
}

#tabs > ul{
	font: 1em;
	list-style:none;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding: 7px 10px;
	display:block;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	background: #C9C9C9; /* old browsers */
	background: -moz-linear-gradient(top, #0C91EC 0%, #257AB6 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C91EC), color-stop(100%,#257AB6)); /* webkit */
}

#tabs > ul > li:hover{
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	color: #333;
}

#tabs > ul > li.tabActiveHeader{
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	color: #333;
}

#tabscontent {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px; 
	padding:10px 10px 25px;
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 90%, #e4e9ed 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#e4e9ed)); /* webkit */
	margin:0;
	color:#333;
}
