html{
	max-width:1000px;
	min-width:480px;
	margin: 0 auto;
  	background: #eee;
  	position: relative;
}

.paisjajalus{
	background-color: red;
	width: 100%;
	font-size: large;
	text-align: center;
}

.pealkiri {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: xx-large;
	font-weight: bold;
	text-align:center;
	padding:5mm;
}

.textCenter{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	text-align:center;
	padding:5mm;
}

.textBold{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight:bold;
}

.text{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.textLargeCenter{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:x-large;
	text-align:center;
	padding:5mm;
}

.fConnectButton{
	background: url('Images/fconnect.png');
    width: 132px;
    height: 34px;
}

.questButton{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	width: 129px;
    height: 32px;
}

@media print
{
	.noPrint
	{
		display:none;
	}
	
	.noPrintTitle
	{
		display:none;
	}
}



p.noprinttitle{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight:bold;
}


#loading_img {
	text-align: center;
}

#voting_table{
	max-width:500px;
	min-width:300px;
	overflow:scroll;
}

img{
	max-width:100%;
	max-height:100%;
}

#scrolltable{
	overflow-y:auto;
	overflow-x:auto;
}

#candidate_table{
	max-width:550px;
	min-width:400px;
}

#party_table{
	max-width:500px;
	min-width:300px;
}

#page_container{
	width:100%;
}

#container div {
	float: left;
	height: 100%;
}

#wrapper{
	width:100%;
	margin:40px auto 0;
}

#tabContainer{
	width:100%;
	padding:15px;
	-moz-border-radius:4px;
	border-radius:40px;
	align: center;
}

.tabpage{
	display:block;
}

#tabs{
	height:100px;
	overflow-x:auto;
}

#tabs > ul{
	font: 1em;
	list-style:none;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding: 7px 10px;
	display:block;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	background: #C9C9C9; /* old browsers */
	background: -moz-linear-gradient(top, #0C91EC 0%, #257AB6 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C91EC), color-stop(100%,#257AB6)); /* webkit */
}

#tabs > ul > li:hover{
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	color: #333;
}

#tabs > ul > li.tabActiveHeader{
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	color: #333;
}

#tabscontent {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px; 
	padding:10px 10px 25px;
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 90%, #e4e9ed 100%); /* firefox */
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#e4e9ed));  webkit */
	margin:0;
	color:#333;
}


/* Copyright 2006 Joost de Valk */
a img {
	border: 0;
}
table.sortable {
	border-spacing: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border: 1px solid #000;
	border-collapse: collapse;
}


table.sortable th, table.sortable td {
	text-align: left;
	padding: 2px 4px 2px 4px;
	border-style: solid;
	border-color: #444;
}
table.sortable th {
	border-width: 0px 1px 1px 1px;
}
table.sortable td {
	border-width: 0px 1px 0px 1px;
}
table.sortable tr.odd td {
	background-color: #fff;
}
table.sortable tr.even td {
	background-color: #ddd;
}
table.sortable tr.sortbottom td {
	border-top: 1px solid #444;
	background-color: #ccc;
	font-weight: bold;
}

table.data {max-width:350; table-layout:fixed;text-align:center;}
.data th {cursor: pointer; text-decoration: none;}
.data th,.data td{padding:3px 12px;}
.data tr {border-bottom: 1px solid #E3E3E3;}
/* horizontal alignment */
.txtC, table .txtC td, table .txtC th, .data .txtC th, .data .txtC td{text-align:center;}
.txtL, table .txtL td, table .txtL th, .data .txtL th, .data .txtL td{text-align:left;}
.txtR, table .txtR td, table .txtR th, .data .txtR th, .data .txtR td{text-align:right;}
/* vertical alignment */
.txtT, table .txtT td, table .txtT th, .data .txtT th, .data .txtT td{vertical-align:top;}
.txtB, table .txtB td, table .txtB th, .data .txtB th, .data .txtB td{vertical-align:bottom;}
.txtM, table .txtM td, table .txtM th, .data .txtM th, .data .txtM td{vertical-align:middle;}
